
#title{
    text-align: center;
    color: black;
    background-color: #EAEFEF;
    height:100px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom:20px;
    padding-top: 20px;
}
h4{
   display: inline-block;
   font-size: large;
   margin:  15px;
   color: black;
   font-family:'oswald', sans-serif

   
   
  
   
}
div>div{
    text-align: center;
    background-color: #EAEFEF   ;
    height:50px;
    
}
h4 a{
    text-decoration: none;
    color: inherit;
}
.img{
    width: 100%;
}
.samba{
    float:left;
    position: relative;
    top: 200px;
    left: 150px;

}
.running{
    position: relative;
    top: 180px;
    left: 80px;
    
}
.text-samba{
    width: 100px;
    position: relative;
    left: 450px;
    bottom: 25px;

}
.text-running{
    width: 100px;
    position: relative;
    left: 1150px;
    bottom: 50px;
}
.price-samba{
    position: relative;
    top: 50px;
    text-decoration: none;
    color: inherit;
}
.price-running{
    display: inline-block;
    position: relative;
    top: 30px;
    text-decoration: underline;
}
